div{
    display: flex;
    justify-content: space-between;
    align-items: center;

}



div{
display: flex;
align-items: center;
}


ul{
display:flex;
align-items: center;
list-style: none;
justify-content:space-between;
}



